@model Restaurante_API.Models.Platillo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Platillo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurante_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurante_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vegano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vegano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gluten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gluten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.platillo_id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
