@model IEnumerable<Restaurante_API.Models.Platillo>
@{
    ViewData["Title"] = "Menú";
}
<h2>Menu</h2>
<br />
<section id="productos">
    <div class="productos-container" style="background-color: white">
        <div class="row">
            @foreach (var platillo in Model)
            {
                <div class="col-md-4 mb-3">
                    @{
                        var imageName = $"{platillo.nombre.Replace(" ", "").ToLower()}.jpg";
                    }
                    <div class="card">
                        <img src="~/Imagenes/@imageName" class="card-img-top" alt="@platillo.nombre">
                        <div class="card-body">
                        
                        <h4>@platillo.nombre</h4>
                        <p>@platillo.descripcion</p>
                            <p>Vegano: @((platillo.vegano) ? "Sí" : "No")</p>
                            <p>Gluten: @((platillo.gluten) ? "Sí" : "No")</p>
                        <p>Precio: @platillo.precio CRC</p>                     
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <br /><br />

    
</section>